<div class="wrapper">
  <div class="login_page h-100" id="login_page">
    <div class="login_page_left h-100">
      <div class="logo_sec">
        <div class="logo pull-left">
          <a routerLink="/login" title="Martin Vermaak CRM">
            <img src="assets/images/logo-dark.png" alt="logo" />
          </a>
        </div>

        <div class="link_navs pull-right"></div>
        <div class="clearfix"></div>
      </div>

      <div class="inner_wrap">
        <h2 class="Login-to-access-your-account">
          Login to access <br />your account
        </h2>

        <form id="login_frm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="Email ID / Username"
              required
            />
            <span
              class="error text-danger"
              *ngIf="submitted && f.controls.username.errors?.required"
              >Email or Username required</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <span
              class="error text-danger"
              *ngIf="submitted && f.controls.password.errors?.required"
              >Password required</span
            >
          </div>

          <div class="captcha_group">
            <div class="checkbox">
              <label>
                <!-- <input type="checkbox" name="captcha_check"> -->
                Prove you are a human
              </label>
            </div>
            <div class="captcha_validation">
              {{ captcha.first }} + {{ captcha.second }} =
              <input
                type="text"
                formControlName="captchaResult"
                class="capt_input"
                required
              />
              <input name="firstNumber" type="hidden" value="1" />
              <input name="secondNumber" type="hidden" value="13" />
            </div>

            <span
              class="error text-danger"
              *ngIf="submitted && f.controls.captchaResult.errors?.required"
              >Captcha required</span
            >
            <span
              class="error text-danger"
              *ngIf="
                submitted &&
                f.value.captchaResult != captchaTotal &&
                f.controls.captchaResult.valid
              "
              >Captcha invalid</span
            >

            <div class="clearfix"></div>
          </div>

          <div class="form-group text-center ">
            <button type="submit" class="btn btn-submit" [disabled]="loading">
              Login
            </button>
          </div>

          <div class="text-center forgot_pwd">
            <a href="#">Forgot Password? Send request to admin</a>
          </div>
        </form>

        <div class="text-center log_contents">
          <p>Welcome to MV Customer relationship Management software.</p>
          <p>
            Your IP and login time will be captured for security purposes. If
            you enter wrong passwords more than 3 times. your account will be
            locked and you need to contact administrator for unlocking the same.
          </p>
        </div>
      </div>
    </div>

    <div class="login_page_right h-100" style="min-height: 420px;">
      <div class="inner_wrap welcome">
        <h1>
          <span>Welcome to</span> Martin Vermaak Attorneys <span>CRM</span>
        </h1>
        <div class="wel_content">
          <p>
            Application update details will be displayed here. Latest update and
            other modifications.
          </p>
          <p>
            For any technical issues please send an email to
            support@martinvermaak.com, our technical team will respond / fix the
            issue within 24 hours.
          </p>
          <p>
            This site is Martin Vermaak's confidential site and should not be
            disclosed to any outsiders
          </p>
          <p>
            Thanks <br />
            MV CRM Team.
          </p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<!--
  <div>
    <h1>Ringing Bell Animation</h1>
    <span class="bell fa fa-bell"></span>
  </div>
-->
