<div class="container-fluid">
  <div class="row">
    <div class="side-menu-fixed attorneys-menus">
      <div class="sidebar-title">
        <h5>All Clients</h5>
        <h6>Recent Hearings</h6>
      </div>
      <perfect-scrollbar style="max-width: 600px; max-height: 700px;">
        <div class="scrollbar side-menu-bg">
          <ul class="nav navbar-nav side-menu" id="sidebarnav">
            <li><a href="#"><span class="listText">Divorce hearing<i> (Roshni Ambrogio , 04/18/2019 08:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Marfleet matter<i> (Beatrice Marfleet , 04/11/2019 08:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Hearing for the Report of Mrs Knepshield.<i> (Tsholofelo Knepsheld ,
                    02/15/2019 08:30:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Hearing for the Report of Mrs Knepshield.<i> (Tsholofelo Knepsheld ,
                    02/15/2019 08:30:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
            <li><a href="#"><span class="listText">Trial <i> (Sukoluhle Nkala , 02/06/2019 09:00:00)</i></span></a></li>
          </ul>
        </div>
      </perfect-scrollbar>

    </div>

    <div class="content-wrapper">
      <div class="page-title attorneytitle">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="mb-0">Manage Clients</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right ">
              <li> <a class="button" href="javascript:void(0);"> <i class="fa fa-chevron-left"></i>back</a></li>
              <li><a class="emptyspace"></a></li>
              <li>
                <a class="button" routerLink="/customers/add-customer-details"> <i class="ti-plus"></i>Add
                  New Client</a></li>
            </ol>
          </div>
        </div>
      </div>
      <!-- main body -->
      <div class="row">
        <div class="col-md-12 mb-30">
          <div class="card card-statistics h-100">
            <div class="card-body">
              <div class="d-block d-md-flex justify-content-between">
                <div class="d-block">
                  <h5 class="card-title pb-0 border-0 rm-mr ">** Please click on the row to see more details
                  </h5>
                </div>
                <div class="d-block d-md-flex clearfix sm-mt-20"></div>
                <div class="d-block d-md-flex clearfix sm-mt-20"></div>
                <div class="d-block d-md-flex clearfix sm-mt-20"></div>
                <div class="d-block d-md-flex clearfix sm-mt-20"></div>
                <div class="d-block d-md-flex clearfix sm-mt-20"></div>
                <div class="d-block d-md-flex clearfix sm-mt-20">
                  <h6 class="rm-mr">Show</h6>
                </div>
                <div class="d-block d-md-flex clearfix sm-mt-20">
                  <div class="clearfix">
                    <div class="box">
                      <select class="n-entries fancyselect sm-mb-20 mr-20">
                        <option value="1">10</option>
                        <option value="2">25</option>
                        <option value="3">50</option>
                        <option value="4">100</option>
                        <option value="4">All</option>
                      </select>
                    </div>
                  </div>
                  <div class="widget-search ml-0 clearfix">
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search....">
                  </div>
                </div>
              </div>
              <div class="table-responsive customertable mt-20">
                <table class="table center-aligned-table">
                  <thead>
                    <tr class="text-dark">
                      <th>User profile</th>
                      <th>Client Name</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Edit</th>
                      <th class="text-center">Delete</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td><a routerLink="/customers/clientprofile"> <img class="img-fluid avatar-small" src="assets/images/team/07.jpg"
                            alt=""></a>
                      </td>
                      <td><a routerLink="/customers/clientprofile">Alice Williams</a></td>
                      <td><a routerLink="/customers/clientprofile">alicewilliams@gmail.com</a></td>
                      <td><a routerLink="/customers/clientprofile">18 Brandon St, Birchleigh North</a></td>
                      <td class="text-center"><a class="pr-2" href="#"><b><i class="fa fa-check text-success"></i></b></a></td>
                      <td class="text-center"><a class="pr-2" href="#"> <i class="fa fa-pencil"></i></a></td>
                      <td class="text-center"><a href="#"> <i class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>
                    <tr>
                      <td> <img class="img-fluid avatar-small" src="assets/images/team/10.jpg" alt=""> </td>
                      <td>Alice Williams</td>
                      <td>alicewilliams@gmail.com</td>
                      <td>18 Brandon St, Birchleigh North,</td>
                      <td class="text-center"><a class="pr-2" href="#"><b><i class="fa fa-check text-success"></i></b></a></td>
                      <td class="text-center"><a class="pr-2" href="#"> <i class="fa fa-pencil"></i></a></td>
                      <td class="text-center"><a href="#"> <i class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>
                    <tr>
                      <td> <img class="img-fluid avatar-small" src="assets/images/team/08.jpg" alt=""> </td>
                      <td>Alice Williams</td>
                      <td>alicewilliams@gmail.com</td>
                      <td>18 Brandon St, Birchleigh North,</td>
                      <td class="text-center"><a class="pr-2" href="#"><b><i class="fa fa-check text-success"></i></b></a></td>
                      <td class="text-center"><a class="pr-2" href="#"> <i class="fa fa-pencil"></i></a></td>
                      <td class="text-center"><a href="#"> <i class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>
                    <tr>
                      <td> <img class="img-fluid avatar-small" src="assets/images/team/09.jpg" alt=""> </td>
                      <td>Alice Williams</td>
                      <td>alicewilliams@gmail.com</td>
                      <td>18 Brandon St, Birchleigh North,</td>
                      <td class="text-center"><a class="pr-2" href="#"><b><i class="fa fa-check text-success"></i></b></a></td>
                      <td class="text-center"><a class="pr-2" href="#"> <i class="fa fa-pencil"></i></a></td>
                      <td class="text-center"><a href="#"> <i class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>
                    <tr>
                      <td> <img class="img-fluid avatar-small" src="assets/images/team/10.jpg" alt=""> </td>
                      <td>Alice Williams</td>
                      <td>alicewilliams@gmail.com</td>
                      <td>18 Brandon St, Birchleigh North,</td>
                      <td class="text-center"><a class="pr-2" href="#"><b><i class="fa fa-check text-success"></i></b></a></td>
                      <td class="text-center"><a class="pr-2" href="#"> <i class="fa fa-pencil"></i></a></td>
                      <td class="text-center"><a href="#"> <i class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>


                  </tbody>
                </table>
              </div>
              <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="bg-white p-4">
        <div class="row">
          <div class="col-md-6">
            <div class="text-center text-md-left">
              <p class="mb-0"> &copy; Copyright <span id="copyright"> </span>. <a href="#"> martinvermaakcrm.co.za </a>
                All Rights Reserved. </p>
            </div>

          </div>
          <div class="col-md-6">
            <ul class="text-center text-md-right">
              <li class="list-inline-item"><a href="#">Terms & Conditions </a> </li>
              <li class="list-inline-item"><a href="#">API Use Policy </a> </li>
              <li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>


<!-- Add New Attorneys modal popup-->

<ng-template #taskcontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Attorneys</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addnewattorneyname">First Name</label>
            <input class="form-control is-valid" id="addnewattorneyname" placeholder="" required="" type="text" value="">
          </div>
          <div class="form-group col-md-6">
            <label for="addnewattorneylname">Last Name</label>
            <input class="form-control is-valid" id="addnewattorneylname" placeholder="" required="" type="text" value="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addnewattorneyuname">Username</label>
            <input class="form-control is-valid" id="addnewattorneyuname" placeholder=" " required="" type="text" value="">
          </div>
          <div class="form-group col-md-6">
            <label for="addnewattorneypassword">Password</label>
            <input class="form-control is-valid" id="addnewattorneyuname" placeholder="" required="" type="password"
              value="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addnewattorneyconfirmpassword">Confirm Password</label>
            <input class="form-control is-valid" id="addnewattorneyconfirmpassword" placeholder="" required="" type="text"
              value="">
          </div>
          <div class="form-group col-md-6">
            <label for="addnewattorneymail">Mail Id</label>
            <input class="form-control is-valid" id="addnewattorneymail" placeholder="" required="" type="email" value="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addnewattorneycontact1">Contact1</label>
            <input class="form-control is-valid" id="addnewattorneycontact1" placeholder="" required="" type="text"
              value="">
          </div>
          <div class="form-group col-md-6">
            <label for="addnewattorneycontact2">Contact2</label>
            <input class="form-control is-valid" id="addnewattorneycontact2" placeholder="" required="" type="text"
              value="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="addnewattorneylocation">Location</label>
            <input class="form-control is-valid" id="addnewattorneylocation" placeholder="" required="" type="text"
              value="">
          </div>
          <div class="form-group col-md-6">
            <label for="addnewattorneysince">Since</label>
            <input class="form-control is-valid" id="addnewattorneysince" placeholder="" required="" type="text" value="">
          </div>
        </div>

        <div class="custom-file">
          <label for="profilepicture">Profile Picture</label>
          <input class="custom-file-input" id="customFile" type="file">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>