<div class="side-menu-fixed">
  <div class="scrollbar side-menu-bg">
    <ul class="nav navbar-nav side-menu" id="sidebarnav">
      <!-- menu item Dashboard-->
      <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
          <div class="pull-left"><i _ngcontent-c3="" class="ti-palette"></i><span class="right-nav-text">All Attorneys
              Diaries</span><span _ngcontent-c3="" class="badge badge-pill badge-danger float-right mt-1">59</span></div>
          <div class="pull-right"><i class="ti-plus"></i></div>
          <div class="clearfix"></div>
        </a>
        <ul id="dashboard" class="collapse" data-parent="#sidebarnav">
          <li> <a href="#">All</a> </li>
          <li> <a href="#">Ateesh</a> </li>
          <li> <a href="#">Martin Vermaak</a> </li>
          <li> <a href="#">Roua Pienaar</a> </li>
          <li> <a href="#">Michelle Soutter</a> </li>
          <li> <a href="#">Aleisha Oliver</a> </li>
          <li> <a href="#">Bradley Cullingworth</a> </li>
          <li> <a href="#">Aurelia Singh</a> </li>
          <li> <a href="#">Duncan O' Connor</a> </li>
          <li> <a href="#">Savannah Bailey</a> </li>
        </ul>
      </li>

      <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#elements">
          <div class="pull-left"><i _ngcontent-c3="" class="ti-comments"></i><span class="right-nav-text">All Admin
              Diaries</span><span _ngcontent-c3="" class="badge badge-pill badge-danger float-right mt-1">09</span></div>
          <div class="pull-right"><i class="ti-plus"></i></div>
          <div class="clearfix"></div>
        </a>
        <ul id="elements" class="collapse" data-parent="#sidebarnav">
          <li><a href="accordions.html">Accordions</a></li>
          <li><a href="alerts.html">Alerts</a></li>
          <li><a href="button.html">Button</a></li>
          <li><a href="colorpicker.html">Colorpicker</a></li>
          <li><a href="dropdown.html">Dropdown</a></li>
          <li><a href="lists.html">lists</a></li>
          <li><a href="modal.html">modal</a></li>
          <li><a href="nav.html">nav</a></li>
          <li><a href="nicescroll.html">nicescroll</a></li>
          <li><a href="pricing-table.html">pricing table</a></li>
          <li><a href="ratings.html">ratings</a></li>
          <li><a href="date-picker.html">date picker</a></li>
          <li><a href="tabs.html">tabs</a></li>
          <li><a href="typography.html">typography</a></li>
          <li><a href="popover-tooltips.html">Popover tooltips</a></li>
          <li><a href="progress.html">progress</a></li>
          <li><a href="switch.html">switch</a></li>
          <li><a href="sweetalert2.html">sweetalert2</a></li>
          <li><a href="touchspin.html">touchspin</a></li>
        </ul>
      </li>

      <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#calendar-menu">
          <div class="pull-left"><i class="ti-calendar"></i><span class="right-nav-text">Access Request</span><span
              _ngcontent-c3="" class="badge badge-pill badge-warning float-right mt-1">08</span></div>
          <div class="pull-right"><i class="ti-plus"></i></div>
          <div class="clearfix"></div>
        </a>
        <ul id="calendar-menu" class="collapse" data-parent="#sidebarnav">
          <li> <a href="calendar.html">Events Calendar </a> </li>
          <li> <a href="calendar-list.html">List Calendar</a> </li>
        </ul>
      </li>



      <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#mytask">
          <div class="pull-left"><i _ngcontent-c3="" class="ti-palette"></i><span class="right-nav-text">My Tasks</span><span
              _ngcontent-c3="" class="badge badge-pill badge-danger float-right mt-1">59</span></div>
          <div class="pull-right"><i class="ti-plus"></i></div>
          <div class="clearfix"></div>
        </a>
        <ul id="mytask" class="collapse" data-parent="#sidebarnav">
          <li> <a href="index.html">Dashboard 01</a> </li>
          <li> <a href="index-02.html">Dashboard 02</a> </li>
        </ul>
      </li>


      <li>
        <a href="todo-list.html"><i class="ti-menu-alt"></i><span class="right-nav-text">My Tasks</span><span
            _ngcontent-c3="" class="badge badge-pill badge-success float-right mt-1">08</span> </a>
        <ul class="collapse" data-parent="#sidebarnav">
          <li> <a href="calendar.html">Events Calendar </a> </li>
          <li> <a href="calendar-list.html">List Calendar</a> </li>
        </ul>
      </li>

      <li>
        <a href="chat-page.html"><i class="ti-comments"></i><span class="right-nav-text">Up Coming Task </span><span
            _ngcontent-c3="" class="badge badge-pill light-blu float-right mt-1">08</span></a>
        <ul class="collapse" data-parent="#sidebarnav">
          <li> <a href="calendar.html">Events Calendar </a> </li>
          <li> <a href="calendar-list.html">List Calendar</a> </li>
        </ul>
      </li>

      <li>
        <a data-target="#newtask" href="mail-box.html"><i class="ti-email"></i><span class="right-nav-text">New Task</span>
          <span class="badge badge-pill colr-pink float-right mt-1">08</span>
        </a>
        <ul id="newtask" class="collapse" data-parent="#sidebarnav">
          <li> <a href="calendar.html">Events Calendar </a> </li>
          <li> <a href="calendar-list.html">List Calendar</a> </li>
        </ul>
      </li>

    </ul>
  </div>
</div>