<div class="calendar-main mb-30">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mb-3">
        <div class="col-md-4 text-left">
          <div class="btn-group">
            <div class="btn btn-success" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
              Previous
            </div>
            <div class="btn btn-success" mwlCalendarToday [(viewDate)]="viewDate">
              Today
            </div>
            <div class="btn btn-success" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
        </div>
        <div class="col-md-4 text-right">
          <div class="btn-group">
            <div class="btn btn-success" (click)="view = 'month'" [class.active]="view === 'month'">
              Month
            </div>
            <div class="btn btn-success" (click)="view = 'week'" [class.active]="view === 'week'">
              Week
            </div>
            <div class="btn btn-success" (click)="view = 'day'" [class.active]="view === 'day'">
              Day
            </div>
            <div class="btn btn-success" (click)="showList()">
                List Week
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>